<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking the CSS file -->
    <link rel="stylesheet" href="styles.css">
    <!-- Title of the webpage -->
    <title>Adaptive Revision Aid</title>
</head>

<body>
    <!-- The navigation bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>

    <!-- Main content -->
    <div class="error-container">
        <h1>{{ errorName }}</h1>
        <p>{{ errorDescription }}</p>
    </div>

</body>

</html>


