<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking the CSS file -->
    <link rel="stylesheet" href="styles.css">
    <!-- Title of the webpage -->
    <title>Adaptive Revision Aid</title>
</head>

<body>
    <!-- The navigation bar -->
    <nav>
        <ul>
            <li><a href="/"><u>Home</u></a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>

    <!-- Main content -->
    <div class="homepage-info-container">
        <h1>Adaptive Revision Aid!</h1>
        <p>{{ paragraphText }}</p>
        <div class="homepage-links">
            <a href="/quiz" class="homepage-link">Go to Quiz</a>
            <a href="/signup" class="homepage-link">Sign Up</a>
        </div>
    </div>

</body>

</html>

